<h1><%=@the_user.username%>'s page</h1>
<hr>
<% visitor_following = Following.where(:follower_id => session[:user_id])%>

<% if session[:user_id] != nil && session[:user_id] != @the_user.id && visitor_following.where(:leader_id => @the_user.id).exists? == false %>
<h3><a href="/follow/<%=@the_user.id%>">Follow <%=@the_user.username%>!</a></h3>
<% elsif session[:user_id] != nil && session[:user_id] != @the_user.id && visitor_following.where(:leader_id => @the_user.id).exists? == true %>
<h3><a href="/unfollow/<%=@the_user.id%>">Unfollow <%=@the_user.username%></a></h3>
<%end%>
<table>
<tr>
<% 
all_posts = Post.all 

user_posts = all_posts.where( :owner_id => @the_user.id).order('created_at desc')

%>

<% if user_posts.count == 0 %>
<h1>This user has no posts :(</h1>
<% end %>

<table>
<% user_posts.each do |a_post|%>
  <tr>
    <td> <%= a_post.caption %></td>
    <td> <img src="<%= a_post.image %>" alt="Image of the item" style="width:250px;height:250px;"></td>
    <td> <a href="/pieces/<%= a_post.item_id %>">See the item</a></td>
    <%if session[:user_id] == @the_user.id%>
    <%then%>
    <td><a href="/delete_post/<%= a_post.id%>">Delete this post</a></td>
    <% end %>
  </tr>
  <% end %>
  </table>
<td>

</td>

</tr>
</table>