<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>

<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>


<style>
  table {
    
    margin: 25px 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
 td, th {
  padding: 12px 15px; 

}

th, td {
  background-color: #D8E5D0;
}

table tbody tr {
    border-bottom: 10px solid #C9C2B7;
}


</style>

    <%if session[:user_id] == nil %>
    <a href="/signin">Sign In!</a>
    <a href="/signup">Sign Up!</a>
    <% else %>
    You are signed in as <%=User.where( :id => session[:user_id]).at(0).username%>
    <a href="/signout">Sign Out!</a>
    <%end%>
<hr>
    <a href="/">My feed!</a>
    <a href="/pieces">All pieces!</a>
  </head>




  <body style="background-color:#E5DDD0;">
    <%= yield %>
  </body>
</html>
